.top-filter {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px 5vw;
}

.top-filter h3 {
    line-height: 70px;
    font-size: 34px;
    font-weight: 400;
}

.top-filter button {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: none;
    background-color: transparent;
}

.top-filter input {
    width: 80%;
    height: 40px;
    color: #333333;
    border: 1px solid #DCDCE6;
    border-radius: 8px;
    padding: 0 24px;
    margin-top: 10px;
}


.top-filter input.small {
    width: 15%;
}

.top-filter div.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 30px;
    cursor: pointer;
    transition: filter 0.2s;
}

.top-filter div.btn:hover {
    filter: brightness(60%);
}